<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/kjohn47/index.json" />
        <add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="kjohn47" />
            <add key="ClearTextPassword" value="86e3ea1a7d2c3d84264399c6e5a1119900d84fe5" />
        </github>
    </packageSourceCredentials>
</configuration>